:root {
  --dominantColor: #debfd7; /*var(--dominantColor) !important; */
  --secondaryColor: #c996a3; /*var(--secondaryColor) !important; */
  --accentColor: #d2b2a8; /*var(--accentColor) !important; */
}
